body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container1 {
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container1 h2 {
  text-align: center;
  font-size: 3.5rem;
}

.search-box {
  width: auto;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-input {
  width: calc(100% - 70px);
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container .judul {
  font-size: 1.2rem;
  margin-left: 1.5px;
  color: rgb(164, 195, 248);
}

.container p {
  margin-top: 6px;
}

.container .cb {
  margin-top: 6px;
  margin-left: 2px;
}

.result-item {
  overflow: auto;
}

.result-image {
  float: left;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 10px;
}

.result-title {
  color: #1a0dab;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 2px;
}

.result-url {
  color: #006621;
  font-size: 14px;
}

@media only screen and (max-width: 840px) {
  .container1,
  .container {
    width: 90%; /* Mengubah lebar kontainer */
  }

  .container1 h2 {
    font-size: 2.5rem; /* Mengubah ukuran font */
  }
  .search-input {
    width: calc(100% - 60px); /* Mengubah lebar input pencarian */
    font-size: 14px; /* Mengubah ukuran font input pencarian */
  }
}

@media only screen and (max-width: 780px) {
  html {
    font-size: 90%;
  }
  .container1,
  .container {
    width: 90%; /* Mengubah lebar kontainer */
  }

  .container1 h2 {
    font-size: 2.5rem; /* Mengubah ukuran font */
  }
  .search-input {
    width: calc(100% - 60px); /* Mengubah lebar input pencarian */
    font-size: 14px; /* Mengubah ukuran font input pencarian */
  }
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 80%;
  }
  .container1,
  .container {
    width: 80%; /* Mengubah lebar kontainer */
  }

  .container1 h2 {
    font-size: 2.5rem; /* Mengubah ukuran font */
  }
  .search-input {
    width: calc(100% - 90px); /* Mengubah lebar input pencarian */
    font-size: 12px; /* Mengubah ukuran font input pencarian */
    padding: 7px;
  }
  .result-title {
    font-size: 16px;
  }
  .result-url {
    color: #006621;
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 70%;
  }
  .container1,
  .container {
    width: 70%; /* Mengubah lebar kontainer */
  }

  .container1 h2 {
    font-size: 2rem; /* Mengubah ukuran font */
  }
  .search-input {
    width: calc(100% - 50px); /* Mengubah lebar input pencarian */
    font-size: 10px; /* Mengubah ukuran font input pencarian */
    padding: 6px;
  }
  .result-title {
    font-size: 16px;
  }
  .result-url {
    color: #006621;
    font-size: 14px;
  }
}

@media only screen and (max-width: 420px) {
  html {
    font-size: 70%;
  }
  .container1,
  .container {
    width: 70%; /* Mengubah lebar kontainer */
  }

  .container1 h2 {
    font-size: 1.8rem; /* Mengubah ukuran font */
  }
  .search-input {
    width: calc(100% - 40px); /* Mengubah lebar input pencarian */
    font-size: 8px; /* Mengubah ukuran font input pencarian */
    padding: 5px;
  }
  .result-title {
    font-size: 14px;
  }
  .result-url {
    color: #006621;
    font-size: 12px;
  }
}

@media only screen and (max-width: 365px) {
  html {
    font-size: 60%;
  }
  .container1,
  .container {
    width: 60%; /* Mengubah lebar kontainer */
  }

  .container1 h2 {
    font-size: 1.7rem; /* Mengubah ukuran font */
  }
  .search-input {
    width: calc(100% - 20px); /* Mengubah lebar input pencarian */
    font-size: 7px; /* Mengubah ukuran font input pencarian */
    padding: 5px;
  }
  .result-title {
    font-size: 14px;
  }
  .result-url {
    color: #006621;
    font-size: 10px;
  }
  .result-image {
    float: left;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-right: 10px;
  }
}
